.item--link {
  text-decoration: unset;
  color: rgb(var(--color-dark));
}

.item__info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: flex-start;
  margin-top: .8rem;
}

.item__info>* {
  margin: 0;
}

.item__info--title,
.item__info--price {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.4em;
}

.item__info--description {
  font-size: 1.2rem;
  line-height: 1.4em;
  opacity: .6;
  grid-column: 1 / 3;
}